package controllers

import (
	"github.com/gin-gonic/gin"
	"github.com/jinzhu/gorm"
	"net/http"
)

type create{{.TitleName}}Input struct {
}

type update{{.TitleName}}Input struct {
}


// Find{{.TitleName}} is get all {{.SingularName}}
func Find{{.TitleName}}(c *gin.Context) {
    db := c.MustGet("db").(*gorm.DB)

	var {{.Name}} []models.{{.TitleName}}
	db.Find(&{{.Name}})

	c.JSON(http.StatusOK, {{.Name}})
}

// Create{{.TitleName}} is create a {{.SingularName}}
func Create{{.TitleName}}(c *gin.Context) {

	var input create{{.TitleName}}Input
	if err := c.ShouldBindJSON(&input); err != nil {
		c.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
		return
	}

	{{.SingularName}} := models.{{.TitleName}}{}

	c.JSON(http.StatusOK, {{.SingularName}})
}

// Find{{.TitleName}} is find a {{.SingularName}}
func Find{{.TitleName}}(c *gin.Context) {
	db := c.MustGet("db").(*gorm.DB)

	var {{.SingularName}} models.{{.TitleName}}
	if err := db.Where("id = ?", c.Param("id")).First(&{{.SingularName}}).Error; err != nil {
		c.JSON(http.StatusBadRequest, gin.H{"error": "Record not found!"})
		return
	}

	c.JSON(http.StatusOK, {{.SingularName}})
}

// Update{{.TitleName}} is update a {{.SingularName}}
func Update{{.TitleName}}(c *gin.Context) {
	db := c.MustGet("db").(*gorm.DB)

	var {{.SingularName}} models.{{.TitleName}}
	if err := db.Where("id = ?", c.Param("id")).First(&{{.SingularName}}).Error; err != nil {
		c.JSON(http.StatusBadRequest, gin.H{"error": "Record not found!"})
		return
	}

	var input update{{.TitleName}}Input
	if err := c.ShouldBindJSON(&input); err != nil {
		c.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
		return
	}

	db.Model(&{{.SingularName}}).Updates(input)

	c.JSON(http.StatusOK, {{.SingularName}})
}

// Delete{{.TitleName}} is delete a {{.SingularName}}
func Delete{{.TitleName}}(c *gin.Context) {
	db := c.MustGet("db").(*gorm.DB)

	var {{.SingularName}} models.{{.TitleName}}
	if err := db.Where("id = ?", c.Param("id")).First(&{{.SingularName}}).Error; err != nil {
		c.JSON(http.StatusBadRequest, gin.H{"error": "Record not found!"})
		return
	}

	db.Delete(&{{.SingularName}})

	c.JSON(http.StatusOK, {{.SingularName}})
}